Repository VladimirGhrejyan/metallic-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint

.lintstagedrc.json:

{
    "*.{js,ts,md,json}": ["pnpm format", "git add"],
    "*.{ts,tsx}": ["pnpm lint"]
}

feat(m-1): added serve static module
  package.json
  pnpm-lock.yaml
  src/app.controller.ts
  src/app.module.ts
Due: pnpm format, pnpm lint

feat(m-1): added product category and product modules
  src/common/pipes/index.ts
  src/common/pipes/zod-validation.pipe.ts
  src/common/schemas/index.ts
  src/common/schemas/password.schema.ts
  src/common/schemas/username.schema.ts
  src/main.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/common/dto/sign-in.dto.ts
  src/modules/auth/common/dto/sign-up.dto.ts
  src/modules/auth/strategy/local.strategy.ts
  src/modules/product-categories/index.ts
  src/modules/product-categories/product-categories.controller.ts
  src/modules/product-categories/product-categories.module.ts
  src/modules/product-categories/product-categories.repository.ts
  src/modules/product-categories/product-categories.service.ts
  src/modules/product-categories/product-category.interface.ts
  src/modules/products/index.ts
  src/modules/products/product.interface.ts
  src/modules/products/products.controller.ts
  src/modules/products/products.module.ts
  src/modules/products/products.repository.ts
  src/modules/products/products.service.ts
  src/modules/users/users.service.ts
  src/orm/entities/index.ts
  src/orm/entities/product-category.entity.ts
  src/orm/entities/product.entity.ts
  tsconfig.json
Due: pnpm format, pnpm lint

refactor(m-1): added base entity
  src/common/interfaces/base-entity.interface.ts
  src/config/config-loaders/orm-config.loader.ts
  src/modules/product-categories/product-category.interface.ts
  src/modules/products/product.interface.ts
  src/modules/users/user.interface.ts
  src/orm/entities/base-entity.ts
  src/orm/entities/product-category.entity.ts
  src/orm/entities/product.entity.ts
  src/orm/entities/user.entity.ts
Due: pnpm format, pnpm lint

feat(m-1): created product categories repository
  src/app.module.ts
  src/common/schemas/index.ts
  src/common/schemas/positive-integer.schema.ts
  src/modules/auth/common/dto/sign-in.dto.ts
  src/modules/auth/common/dto/sign-up.dto.ts
  src/modules/auth/common/schema/index.ts
  src/modules/auth/common/schema/password.schema.ts
  src/modules/auth/common/schema/username.schema.ts
  src/modules/product-categories/common/dto/create-product-category.dto.ts
  src/modules/product-categories/common/dto/index.ts
  src/modules/product-categories/common/dto/update-product-category.dto.ts
  src/modules/product-categories/common/schema/index.ts
  src/modules/product-categories/common/schema/product-category-code.schema.ts
  src/modules/product-categories/common/schema/product-category-title.schema.ts
  src/modules/product-categories/product-categories.controller.ts
  src/modules/product-categories/product-categories.module.ts
  src/modules/product-categories/product-categories.repository.ts
  src/modules/product-categories/product-categories.service.ts
  src/modules/products/common/dto/create-product.dto.ts
  src/modules/products/common/dto/index.ts
  src/modules/products/common/dto/update-product.dto.ts
  src/modules/products/common/schema/index.ts
  src/modules/products/common/schema/product-code.schema.ts
  src/modules/products/common/schema/product-cost-price.schema.ts
  src/modules/products/common/schema/product-markup.schema.ts
  src/modules/products/common/schema/product-title.schema.ts
  src/modules/products/products.controller.ts
Due: pnpm format, pnpm lint

feat(m-1): added category and product repositories
  src/modules/product-categories/common/dto/update-product-category.dto.ts
  src/modules/product-categories/product-categories.module.ts
  src/modules/product-categories/product-categories.repository.ts
  src/modules/products/common/dto/update-product.dto.ts
  src/modules/products/products.controller.ts
  src/modules/products/products.module.ts
  src/modules/products/products.repository.ts
  src/modules/products/products.service.ts
  src/orm/entities/product.entity.ts
Due: pnpm format, pnpm lint

feat(m-1): added users repository
  src/modules/auth/auth.service.ts
  src/modules/auth/strategy/local.strategy.ts
  src/modules/users/index.ts
  src/modules/users/users.module.ts
  src/modules/users/users.repository.ts
  src/modules/users/users.service.ts
Due: pnpm format, pnpm lint

feat(m-1): added get me endpoint
  src/app.controller.ts
  src/config/open-api/open-api.config.ts
  src/modules/product-categories/product-categories.controller.ts
  src/modules/products/products.controller.ts
  src/modules/users/common/dto/get-me-output.dto.ts
  src/modules/users/common/dto/index.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.repository.ts
  src/modules/users/users.service.ts
Due: pnpm format, pnpm lint

refactor(m-1): implemented repository pattern
  src/common/interfaces/index.ts
  src/common/interfaces/product-category.interface.ts
  src/common/interfaces/product.interface.ts
  src/common/interfaces/user.interface.ts
  src/modules/product-categories/index.ts
  src/modules/product-categories/product-categories.repository.ts
  src/modules/products/index.ts
  src/modules/products/products.repository.ts
  src/modules/users/index.ts
  src/modules/users/users.module.ts
  src/modules/users/users.repository.ts
  src/orm/entities/product-category.entity.ts
  src/orm/entities/product.entity.ts
  src/orm/entities/user.entity.ts
Due: pnpm format, pnpm lint

refactor(m-1): authorization refactoring
  src/common/interfaces/user.interface.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/common/dto/sign-in.dto.ts
  src/modules/auth/common/dto/sign-up.dto.ts
  src/modules/auth/common/schema/email.schema.ts
  src/modules/auth/common/schema/index.ts
  src/modules/auth/common/schema/username.schema.ts
  src/modules/auth/common/types/access-token-payload.type.ts
  src/modules/auth/common/types/authenticated-request.type.ts
  src/modules/auth/strategy/local.strategy.ts
  src/modules/users/common/dto/get-me-output.dto.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.repository.ts
  src/modules/users/users.service.ts
  src/orm/entities/user.entity.ts
Due: pnpm format, pnpm lint

feat(m-1): added utils and crypro modules
  src/app.module.ts
  src/main.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.ts
  src/modules/crypto/crypto.module.ts
  src/modules/crypto/crypto.service.ts
  src/modules/crypto/index.ts
  src/modules/utils/index.ts
  src/modules/utils/utils.module.ts
  src/modules/utils/utils.service.ts
Due: pnpm format, pnpm lint

refactor(m-1): repositories refactored
  src/modules/product-categories/product-categories.repository.ts
  src/modules/products/products.repository.ts
  src/modules/users/users.repository.ts
Due: pnpm format, pnpm lint

feat(m-1): typeorm migrations set up in progress
  .lintstagedrc.json
  .nvmrc
  README.md
  eslint.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/migration.js
  src/config/config-loaders/orm-config.loader.ts
  src/main.ts
  src/orm/datasource.ts
Due: pnpm format, pnpm lint

feat(m-1): added database module
  scripts/migration.js
  src/app.module.ts
  src/modules/database/database.module.ts
  src/modules/database/index.ts
Due: pnpm format, pnpm lint

chore(m-1): app prepared for deployment
  .dockerignore
  Dockerfile
  docker-compose.yml
  nginx.conf
  package.json
  scripts/wait-for-it.sh
Due: pnpm format

feat(m-1): added get categories endpoint
  package-lock.json
  package.json
  src/app/app.controller.ts
  src/app/app.module.ts
  src/app/app.service.ts
  src/app/filters/exception.filter.ts
  src/app/filters/index.ts
  src/app/index.ts
  src/app/pipes/index.ts
  src/app/pipes/zod-validation.pipe.ts
  src/common/schemas/base-entity.schema.ts
  src/common/schemas/get-date-serializer.schema.ts
  src/common/schemas/index.ts
  src/main.ts
  src/modules/product-categories/common/dto/get-all-categories.dto.ts
  src/modules/product-categories/common/dto/get-one-category.dto.ts
  src/modules/product-categories/common/dto/index.ts
  src/modules/product-categories/common/types/index.ts
  src/modules/product-categories/common/types/product-categories-response.type.ts
  src/modules/product-categories/product-categories.controller.ts
  src/modules/product-categories/product-categories.repository.ts
  src/modules/product-categories/product-categories.service.ts
  src/modules/products/products.repository.ts
  src/modules/users/common/dto/get-me-output.dto.ts
  tsconfig.json
Due: pnpm format, pnpm lint

feat(m-1): add decorator for query params
  src/common/decorators/index.ts
  src/common/decorators/zod-api-query.decorator.ts
Due: pnpm format, pnpm lint

feat(m-1): add search param for get categories query
  src/modules/product-categories/common/dto/get-all-categories-input.dto.ts
  src/modules/product-categories/common/dto/get-all-categories-output.dto.ts
  src/modules/product-categories/common/dto/index.ts
  src/modules/product-categories/product-categories.controller.ts
  src/modules/product-categories/product-categories.repository.ts
  src/modules/product-categories/product-categories.service.ts
Due: pnpm format, pnpm lint

refactor(m-1): refactor categories controller
  src/common/interfaces/api-metadata.interface.ts
  src/common/interfaces/index.ts
  src/modules/product-categories/common/constants/index.ts
  src/modules/product-categories/common/constants/product-categories-metadata.ts
  src/modules/product-categories/product-categories.controller.ts
Due: pnpm format, pnpm lint

feat(m-1): add get products query
  src/app/app.module.ts
  src/common/enums/index.ts
  src/common/enums/order.enum.ts
  src/common/helpers/pagination/index.ts
  src/common/helpers/pagination/pagination-input.schema.ts
  src/common/helpers/pagination/pagination-meta.schema.ts
  src/common/helpers/pagination/pagination.helper.ts
  src/common/helpers/pagination/types.ts
  src/common/interfaces/index.ts
  src/common/interfaces/pagination-result.interface.ts
  src/common/schemas/index.ts
  src/common/schemas/order.schema.ts
  src/modules/product-categories/product-categories.controller.ts
  src/modules/products/common/dto/get-all-products-input.dto.ts
  src/modules/products/common/dto/get-all-products-output.dto.ts
  src/modules/products/common/dto/get-one-product-output.dto.ts
  src/modules/products/common/dto/index.ts
  src/modules/products/products.controller.ts
  src/modules/products/products.module.ts
  src/modules/products/products.repository.ts
  src/modules/products/products.service.ts
Due: pnpm format, pnpm lint

feat(m-1): added new endpoints
  .husky/commit-msg
  .husky/pre-commit
  src/common/helpers/pagination/pagination-input.schema.ts
  src/common/schemas/index.ts
  src/common/schemas/parse-integer.schema.ts
  src/config/config-loaders/orm-config.loader.ts
  src/modules/product-categories/common/dto/get-all-categories-input.dto.ts
  src/modules/product-categories/common/dto/get-one-category.dto.ts
  src/modules/product-categories/common/dto/index.ts
  src/modules/product-categories/product-categories.controller.ts
  src/modules/product-categories/product-categories.repository.ts
  src/modules/product-categories/product-categories.service.ts
  src/modules/products/common/constants/index.ts
  src/modules/products/common/constants/products-metadata.ts
  src/modules/products/common/dto/get-all-products-input.dto.ts
  src/modules/products/common/dto/get-one-product-output.dto.ts
  src/modules/products/products.controller.ts
  src/modules/products/products.repository.ts
  src/modules/products/products.service.ts
Due: pnpm format, pnpm lint

feat(m-1): initialized persistent storage
  package-lock.json
  package.json
  src/app/app.module.ts
  src/config/common/constants/config-keys.constant.ts
  src/config/common/schemas/env.schema.ts
  src/config/common/types/global-config.types.ts
  src/config/config-loaders/index.ts
  src/config/config-loaders/storage-config.loader.ts
  src/config/config-options/config-options.ts
  src/modules/persistent-storage/index.ts
  src/modules/persistent-storage/persistent-storage.module.ts
  src/modules/persistent-storage/persistent-storage.service.ts
Due: pnpm format, pnpm lint

feat(m-1): add upload method to persistent storage
  src/config/common/schemas/env.schema.ts
  src/config/common/types/global-config.types.ts
  src/config/config-loaders/storage-config.loader.ts
  src/modules/persistent-storage/persistent-storage.service.ts
Due: pnpm format, pnpm lint

feat(m-1): added blank uploads module
  src/common/interfaces/index.ts
  src/common/interfaces/upload.interface.ts
  src/modules/persistent-storage/persistent-storage.service.ts
  src/modules/uploads/index.ts
  src/modules/uploads/uploads.module.ts
  src/modules/uploads/uploads.repository.ts
  src/modules/uploads/uploads.service.ts
  src/orm/entities/index.ts
  src/orm/entities/upload.entity.ts
Due: pnpm format, pnpm lint

feat(m-1): add updateProductImage controller
  package-lock.json
  package.json
  src/common/interfaces/upload.interface.ts
  src/modules/api/products/common/constants/index.ts
  src/modules/api/products/common/constants/products-metadata.ts
  src/modules/api/products/common/constants/update-one-image-api-body.ts
  src/modules/api/products/products.controller.ts
  src/modules/api/products/products.module.ts
  src/modules/api/products/products.repository.ts
  src/modules/api/products/products.service.ts
  src/modules/persistent-storage/common/types/index.ts
  src/modules/persistent-storage/common/types/upload-file-options.type.ts
  src/modules/persistent-storage/persistent-storage.service.ts
  src/modules/uploads/common/types/index.ts
  src/modules/uploads/common/types/upload-image-options.type.ts
  src/modules/uploads/uploads.repository.ts
  src/modules/uploads/uploads.service.ts
  src/orm/entities/product.entity.ts
  src/orm/entities/upload.entity.ts
Due: pnpm format, pnpm lint

feat(m-1): added image to product responses
  src/modules/api/products/common/dto/get-one-product-output.dto.ts
  src/modules/api/products/products.controller.ts
  src/modules/api/products/products.repository.ts
  src/modules/api/products/products.service.ts
  src/modules/uploads/common/dto/get-one-upload-output.dto.ts
  src/modules/uploads/common/dto/index.ts
  src/modules/uploads/index.ts
Due: pnpm format, pnpm lint

fix(m-1): updated createProduct response schema
  src/modules/api/products/products.controller.ts
Due: pnpm format, pnpm lint

feat(m-1): added quantityAvailable and description fields to product entity
  src/common/interfaces/product.interface.ts
  src/modules/api/products/common/dto/create-product.dto.ts
  src/modules/api/products/common/dto/get-one-product-output.dto.ts
  src/modules/api/products/common/dto/update-product.dto.ts
  src/modules/api/products/common/schema/index.ts
  src/modules/api/products/common/schema/product-description.schema.ts
  src/modules/api/products/common/schema/product-quantity-available.schema.ts
  src/orm/entities/product.entity.ts
Due: pnpm format, pnpm lint

feat(m-1): update entities
  src/orm/entities/product-category.entity.ts
  src/orm/entities/product.entity.ts
Due: pnpm format, pnpm lint

feat(m-1): prepare rds connection
  Dockerfile
  docker-compose.yml
  src/config/common/schemas/env.schema.ts
  src/config/config-loaders/orm-config.loader.ts
Due: pnpm format, pnpm lint

feat(m-1): delete nginx conf from docker container
  docker-compose.yml
  nginx.conf
Due: none

feat(m-1): update docker compose
  docker-compose.yml
Due: none

chore(tz-7): configured ci cd
  .github/workflows/deploy-production.yml
  Dockerfile
  docker-compose.yml
  scripts/deploy.sh
Due: none

chore(tz-7): update deploy script
  docker-compose.yml
  scripts/deploy.sh
Due: none

chore(tz-7): update github workflow
  .github/workflows/deploy-production.yml
Due: none

chore(tz-7): update deploy script path in github workflow
  .github/workflows/deploy-production.yml
Due: none

chore(tz-7): update deploy sh
  scripts/deploy.sh
Due: none

refactor(tz-9): update naming
  src/common/schemas/base-entity.schema.ts
  src/common/schemas/parse-integer.schema.ts
  src/common/schemas/positive-integer.schema.ts
  src/modules/api/product-categories/common/dto/get-one-category.dto.ts
  src/modules/api/products/common/dto/create-product.dto.ts
  src/modules/api/products/common/dto/get-all-products-input.dto.ts
  src/modules/api/products/common/dto/get-one-product-output.dto.ts
  src/modules/api/products/common/dto/update-product.dto.ts
  src/modules/api/users/common/dto/get-me-output.dto.ts
Due: pnpm format, pnpm lint

feat(tz-8): added ability to update products from xlxs
  package-lock.json
  package.json
  src/app/filters/exception.filter.ts
  src/common/types/helper.types.ts
  src/common/types/index.ts
  src/modules/api/products/common/constants/index.ts
  src/modules/api/products/common/constants/products-metadata.ts
  src/modules/api/products/common/constants/update-many-api-body.ts
  src/modules/api/products/common/dto/update-product.dto.ts
  src/modules/api/products/products.controller.ts
  src/modules/api/products/products.module.ts
  src/modules/api/products/products.repository.ts
  src/modules/api/products/products.service.ts
  src/modules/api/products/services/index.ts
  src/modules/api/products/services/products-bulk-update.service.ts
  src/modules/shared/shared.module.ts
  src/modules/shared/utils/data-processing.service.ts
  src/modules/shared/utils/index.ts
  src/modules/shared/utils/utils.module.ts
  src/modules/shared/utils/utils.service.ts
  src/modules/shared/xlsx/index.ts
  src/modules/shared/xlsx/types/covert-to-json-options.type.ts
  src/modules/shared/xlsx/types/index.ts
  src/modules/shared/xlsx/xlsx.module.ts
  src/modules/shared/xlsx/xlsx.service.ts
Due: pnpm format, pnpm lint
