Repository VladimirGhrejyan/metallic-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint

.lintstagedrc.json:

{
    "*.{js,ts,md,json}": ["pnpm format", "git add"],
    "*.{ts,tsx}": ["pnpm lint"]
}

feat(tz-8): delete logs
  src/app/filters/exception.filter.ts
  src/modules/api/products/services/products-bulk-update.service.ts
Due: pnpm format, pnpm lint

fix(tz-7): update production branch name
  .github/workflows/deploy-production.yml
  scripts/deploy.sh
Due: none

hotfix(no-ticket): update quantity available schema
  src/modules/api/products/common/schema/product-quantity-available.schema.ts
Due: pnpm format, pnpm lint

chore(no-ticket): run app
  src/main.ts
Due: pnpm format, pnpm lint

chore(no-ticket): update dockerfile
  Dockerfile
Due: none

hotfix(vultr-db): update public host
  Dockerfile
Due: none

chore(cloudflare-storage): migrate storage to cloudflare
  src/config/common/schemas/env.schema.ts
  src/config/common/types/global-config.types.ts
  src/config/config-loaders/storage-config.loader.ts
  src/modules/infra/persistent-storage/persistent-storage.service.ts
  src/modules/infra/uploads/uploads.service.ts
Due: pnpm format, pnpm lint

chore(deploy-script): update path to project in VPS
  scripts/deploy.sh
Due: none

chore(deploy-script): update path to deploy script in gh workflow
  .github/workflows/deploy-production.yml
Due: none

fix(storage): update s3 config
  src/modules/infra/persistent-storage/persistent-storage.service.ts
Due: pnpm format, pnpm lint

fix(no-ticket): replate docker-compose with docker compose (v2)
  package.json
  scripts/deploy.sh
Due: pnpm format

fix(no-ticket): update pagination limit to 500
  src/common/helpers/pagination/pagination-input.schema.ts
Due: pnpm format, pnpm lint

fix(no-ticket): update pagination limit to 1000
  src/common/helpers/pagination/pagination-input.schema.ts
Due: pnpm format, pnpm lint
